body {
  background-color: #1B1B1B;
  color: #A8A8A8;
}

.title {
  font-size: 40px;
  color: #7A7A7A;
  position: absolute;
  top: 200px;
}

.header-title {
  margin-top: 6vh;
  font-size: calc(2vw + 2vh + 1vmin);
}

.arrow-btn {
  background: none;
  border: none;
  color: #7A7A7A;
  margin: 1.5vh 0;
  margin-right: 20px;
  cursor: pointer;
}

.arrow-btn:hover {
  color: #D9DBE9;
}

.next-moment {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.timer-item {
  display: flex;
  flex-direction: row-reverse;
  padding: 10px 50px;
  margin-top: 8vh;
}

.arrow-item {
  display: flex;
  flex-direction: column;
}

.circular-short, .circular-pomo, .circular-long {
  position: relative;
  border-radius: 100%;
  width: 400px;
  height: 400px;
  background-color: #262626;
  color: #A8A8A8;
  cursor: pointer;
  top: 15px;
  left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.circular-short {
  border: 10px #F4B740 solid;
}

.circular-pomo {
  border: 10px #ED2E7E solid;
}

.circular-long {
  border: 10px #1CC8EE solid;
}

.btn-pomodoro {
  margin: 0 0 0 100px ;
}

.circular-border {
  margin-bottom: 20px;
  width: 450px;
  height: 450px;
  border-radius: 100%;
  background-color: #262626;
}

.button, .setup-btn {
  border: none;
  border-radius: 5px;
  padding: 15px 50px;
  background-color: #262626;
  color: #A8A8A8;
  cursor: pointer;
  font-size: calc(1vw + 1vh + 1vmin);
}

.btn-pomodoro-disabled {
  background-color: #1d1d1d;
  border: none;
  border-radius: 5px;
  padding: 20px 62.5px;
  color: #828282;
  cursor: default;
  /* margin-bottom: 100px; */
}

 .btn-pomodoro {
  border: none;
  border-radius: 5px;
  padding: 20px 62.5px;
  background-color: #262626;
  color: #A8A8A8;
  cursor: pointer;
  font-size: calc(1vw + 1vh + 1vmin);
}

.body-pomo {
  display: flex;
  width: 900px;
  justify-content: space-between;
  align-items: center;
}

.button {
  margin-top: 10vh;
}

.button:hover, .setup-btn:hover, .btn-pomodoro:hover {
  background-color: #333333;
}

.timer {
  font-size: 110px;
  flex-shrink: 0;
  position: relative;
}

.timer-num {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #262626;
  width: 12vw;
  height: 16vh;
  border-radius: 8px;
}

.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.pomo-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
}

.counter-setup {
  display: flex;
  align-items: center;
  justify-content: center;
}
